### Point 클래스 선언

- Point 클래스는 2차원 평면의 점(또는 2차원 벡터)을 나타내는 클래스이다
- 필요한 멤버는 점의 x-좌표와 y-좌표이다
- 다음과 같이 선언할 수 있다.


![image.png]()

- 생성 함수(magic method 중 하나) __init__의 매개변수로 두 좌표 값을 받는다.
- default 좌표 값은 0으로 정했다. (다른 default 값으로 지정해도 상관 없다)
- [주의] 클래스의 모든 메소드의 첫 번째 매개변수는 이 메소드를 호출하는 객체를 나타내는 `self` 이어야 한다.

In [1]:
class Point:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

p = Point(1,2)
print(p)

<__main__.Point object at 0x7f7ab7aaebd0>

<__main__.Point object at 0x7f7ab7aaebd0> 와 같은 메시지가 출력된다
- print(p)를 수행하면 객체 p를 프린트해야 하는데, 구체적으로 어떤 내용을 출력해야 하는지 print 함수는 전혀 알지 못한다.
- print 함수에게 어떤 내용을 출력해야 하는지 알려줘야 한다. 그 역할을 하는 magic method가 __str__ 함수이다.
- print(p)를 실행 과정은 (1) p가 속한 클래스 Point의 __str__ 함수가 정의되어 있다면 호출한다. 이 __str__ 함수는 출력용 문자열을 리턴하는 데, print 함수는 단순히 리턴된 문자열을 출력하는 역할이다. 만약 (2) __str__ 함수가 정의되어 있지 않다면, 해당 객체의 기본 정보 <__main__.Point object at 0x7f7ab7aaebd0> 를 출력한다.

- 아래 코드에 __str__ 함수를 추가한다. __str__ 함수는 Point 객체의 출력하고 싶은 내용을 문자열로 만들어 리턴하기만 하면 된다.
- 여기서는 (1,2)와 같이 좌표 값을 일반적인 형식으로 출력하려고 한다.
- f"({self.x}, {self.y})" 형식의 f-문자열은 {} 안에 오는 변수를 변수의 값으로 교체해 문자열을 만드는 방법이다.

In [2]:
class Point:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y
  
  def __str__(self):
    return f"({self.x}, {self.y})"

p = Point(1,2)
print(p)

(1, 2)

- 아래 코드를 실행하면 a에 저장된 정수 값 10이 str() 형변환 함수를 통해 문자열 '10'이 된다.
- str 함수는 정수(int) 클래스의 magic method인 __str__을 자동으로 호출하는 방식으로 등장한다.
- int 클래스의 __str__함수는 해당 값을 문자열로 리턴하기에 결국 문자열 "10"이 출력된다.

In [5]:
a = 10
print(a)
print(type(a))
print(str(a))
print(type(str(a)))

10
<class 'int'>
10
<class 'str'>

- 이를 Point 클래스에도 적용해보자

In [6]:
class Point:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

  def __str__(self):
    return f"({self.x}, {self.y})"

p = Point(1,2)
s = str(p)
print(s)

(1, 2)